<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName" default-lazy-init="false">

    <bean id="syncOYOHotelExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50" />
        <property name="keepAliveSeconds" value="10000" />
        <property name="maxPoolSize" value="150" />
        <property name="queueCapacity" value="30000" />
    </bean>

    <bean id="syncOYOProductExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50" />
        <property name="keepAliveSeconds" value="10000" />
        <property name="maxPoolSize" value="100" />
        <property name="queueCapacity" value="30000" />
    </bean>

    <bean id="syncOYOProductInrcExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="200" />
        <property name="keepAliveSeconds" value="10000" />
        <property name="maxPoolSize" value="500" />
        <property name="queueCapacity" value="3000" />
    </bean>

</beans>